.centered {
    max-width: 1000px;
    margin: auto;
}

header {
    min-height: 500px;
    background-color: #b4d0e7;
}



/* NAV */
nav {
    width: 100%;
    background-color: white;
    position: fixed;
    padding: 1em;
    box-shadow: 1px 1px  rgba(0, 0, 0, 0.3);
    z-index: 5;
}


nav .nav-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 5px;
}

.nav-inner .nav-links-left , .nav-links-left ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    align-items: center;
    gap: 1.5em;
}

.nav-inner .nav-links-right, .nav-links-right ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    align-items: center;
    gap: 1.5em;
    
}

nav li a{
    text-decoration: none;
    padding: 1em;
    color: black;
}

.blue-button {
    background-color: #0061ff;
    color: white;
    padding: 0.6em;
    text-decoration: none;
    text-align: center;
}

/* //NAV */




/* JUMBO */

.jumbo {
    padding-top: 100px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.jumbo #main-title {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
    
    
}
.jumbo .jumbo-content {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.jumbo-content .jumbo-text {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    height: 100%;
    width: 30%;
    padding: 1em;
    line-height: 1.5em;
}

.jumbo-content i {
    font-size: 3em;
}

#jumbo-image {
    max-width: 70%;
    display: flex;
}

#jumbo-image img {
   width: 100%;
   margin-bottom: -50px;
   z-index: 2;
} 


/* //JUMBO */




/* MAIN */
main {
    display: flex;
    flex-direction: column;
}   

main section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 3em;
    width: 100%;
}


main .first-section {
    width: 80%;
}

main .first-section .circle {
    width: 1em;
}

main .first-section ul {
    padding-top: 2em;
}

.first-section ul {
    display: flex;
    gap: 3em;
    list-style-type: none;
}




.second-section .vertical-bsn-plans {
    display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 3em;
}


.plan-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;
}

.plan ul li {
    list-style-type: none;
}

.vertical-bsn-plans .plan, .orizontal-bsn-plan {
    width: 30%;
    line-height: 2em;
    padding: 1em;
}
.vertical-bsn-plans .plan {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.vertical-bsn-plans div {
    padding: 1.5em 0;
}

.plan .trial {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.blue-check {
    width: 1em;
}

#blue-write {
    color: blue;
}

.third-section {
    padding-top: 0;
    margin-top: 2em;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.orizontal-bsn-plan {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.third-section .plan-title {
    padding: 1em;
}

.orizontal-left p {
    padding-top: 2em;
}





main .fourth-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 1em;
    margin-top: 7em;
}

.fourth-section #partner-image img {
    width: 100%;
}

.fourth-section #partner-image {
    max-width: 60%;
}
.fourth-section .partner-text {
    width: 35%;
    padding: 1em;
}

.fourth-section .partner-text p {
    padding: 1.8em 0;
}

.fourth-section a {
    text-decoration: none;
    color: black;
    border: 0.5px solid black;
    padding: 0.5em;
}





main .fifth-section {
    flex-flow: row wrap;
    gap: 1em;
    margin-top: 5em;
}

.fifth-section .operation-title {
    width: 100%;
    font-size: 1.6em;
}


.fifth-section .operation {
    display: flex;
    flex-flow: column;
    width: calc(100% / 3 - 1em);
    height: calc(100% / 2);
    padding: 1em;
}

.operation .operation-picture {
    max-width: 100%;
}

.operation .operation-picture img {
   height: 100%;
   width: 100%;
   object-fit: contain;
}

.operation .operation-subtitle {
    padding-bottom: 1.5em;
}







main .sixth-section {
    background-color: rgb(228, 163, 255);
}


#Designit-up {
    padding-top: 3em;
    display: flex;
}

#Designit-up .box {
    width: 50%;
    height: 50%;
    background-color: #fff;
    border: 1px solid black;
}

#Designit-up .left-side, .right-side {
    display: flex;
    flex-flow: row wrap;
    width: calc(100vw / 3);
    height: calc(100vh / 3);

}

#Designit-up .center {
    background-color: #fff;
    flex-grow: 1;
}

.center .big-box #big-logo {
    width: 12em;
    padding: 1em;
}

#Designit-down {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #b4d0e7;
}

#Designit-down .Designit-down-inner {
    display: flex;
    width: 100%;
    flex-flow: row;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.Designit-down-inner h2 {
    width: 35%;
}


.main-questions {
    background-color: rgb(241, 121, 121);
    width: 100%;
    padding-top: 4em;
}


.questions {
    display: flex;
    flex-flow: column wrap;
    padding-top: 3em;
}

.questions .quest {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-top: 1px solid black;
}
.quest #last-quest {
    border-bottom: 1px solid black;
}

/* //MAIN */





/* FOOTER */

footer {
    background-color: #000000;
    color: white;
    width: 100%;
}


footer .footer-inner {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 3em;
}


.footer-column ul li {
   list-style-type: none;
}


.footer-column ul li a {
    text-decoration: none;
    color: white;
}

.footer-column #links-title {
    font-size: 1.5em;
    padding-bottom: 2em;
}

.footer-inner #first-column {
    border-bottom: 1px solid white;
    padding-bottom: 3em;
}