.centered {
    max-width: 1200px;
    margin: auto;
}

header {
    min-height: 500px;
    background-color: #b4d0e7;
}



/* NAV */
nav {
    min-height: 8%;
    width: 100%;
    background-color: white;
    position: fixed;
    padding: 1em;
    box-shadow: 1px 1px  rgba(0, 0, 0, 0.3);
    z-index: 5;
}


nav .nav-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 5px;
}

.nav-inner .nav-links-left , .nav-links-left ul{
    display: flex;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    align-items: center;
    gap: 1.5em;
}

.nav-inner .nav-links-right, .nav-links-right ul {
    display: flex;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    align-items: center;
    gap: 1.5em;
    
}

nav li a{
    text-decoration: none;
    padding: 1em;
    color: black;
}

.blue-button {
    background-color: #0061ff;
    color: white;
    padding: 0.7em;
    text-decoration: none;
}

/* //NAV */




/* JUMBO */

.jumbo {
    padding-top: 100px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.jumbo #main-title {
    width: 80%;
    font-size: 1.9em;
    font-weight: bold;
    padding: 0.5em;
    
    
}
.jumbo .jumbo-content {
    display: flex;
    flex-flow: row;
    width: 80%;
}

.jumbo-content .jumbo-text {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    height: 100%;
    width: 34%;
    padding: 1em;
    line-height: 1.5em;
}

.jumbo-content i {
    font-size: 3em;
}

#jumbo-image {
    width: 70%;
    display: flex;
}

#jumbo-image img {
   width: 100%;
   margin-bottom: -50px;
   z-index: 2;
} 


/* //JUMBO */




/* MAIN */
main {
    background-color: rgb(180, 255, 190);
    display: flex;
    flex-direction: column;
}   
/* TEST */

main .first-section {
    background-color: rgb(97, 187, 252);
}
/* TEST */


main section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 3em;
    width: 100%;
}

.first-section ul {
    display: flex;
    gap: 3em;
    list-style-type: none;
}

.second-section .vertical-bsn-plans {
    display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 1em;
}

.vertical-bsn-plans .plan {
    background-color: white;
    width: 30%;
    height: 400px;
}

.orizontal-bsn-plan {
    width: 100%;
    background-color: rgb(161, 102, 102);
    display: flex;

}


main .fourth-section {
    background-color: rgb(237, 147, 207);
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 1em;
}

.fourth-section #partner-image {
    width: 60%;
    height: 300px;
    background-color: rgb(245, 245, 159);
}

.fourth-section .partner-text {
    width: 40%;
}

main .fifth-section {
    background-color: rgb(247, 117, 117);
    flex-flow: row wrap;
    gap: 1em;
    width: 100%;
}

.fifth-section .operation-title {
    width: 100%;
}


.fifth-section .operation {
    display: flex;
    flex-flow: column;
    width: calc(100% / 3 - 1em);
    height: calc(100% / 2);
    border: 1px solid black;
}


.fifth-section .operation div {
    background-color: rgb(136, 136, 241);
}

.operation .operation-picture {
    height: 180px;
} 

main .sixth-section {
    background-color: rgb(228, 163, 255);
}


#Designit-up {
    padding-top: 3em;
    width: 100%;
    background-color: rgb(255, 251, 122);
    display: flex;
    flex-flow: row;
}

#Designit-up > div {
    width: 33%;
}

#Designit-up .box {
    width: 50%;
    height: 200px;
    background-color: #fff;
    border: 1px solid black;
}

#Designit-up .left-side, .right-side {
    display: flex;
    flex-flow: row wrap;
}

#Designit-up .center {
    background-color: #fff;
}

.center .big-box #big-logo {
    width: 12em;
    padding: 1em;
}

#Designit-down {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #b4d0e7;
}

#Designit-down .Designit-down-inner {
    display: flex;
    width: 100%;
    flex-flow: row;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.Designit-down-inner h2 {
    width: 35%;
}


.main-questions {
    background-color: rgb(241, 121, 121);
    width: 100%;
    padding-top: 4em;
}


.questions {
    display: flex;
    flex-flow: column wrap;
    padding-top: 3em;
}

.questions .quest {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-top: 1px solid black;
}
.quest #last-quest {
    border-bottom: 1px solid black;
}

/* //MAIN */





/* FOOTER */

footer {
    background-color: #000000;
    color: white;
    width: 100%;
}


footer .footer-inner {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 3em;
}


.footer-column ul li {
   list-style-type: none;
}


.footer-column ul li a {
    text-decoration: none;
    color: white;
}

.footer-column #links-title {
    font-size: 1.5em;
    padding-bottom: 2em;
}

.footer-inner #first-column {
    border-bottom: 1px solid white;
    padding-bottom: 3em;
}